body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.content {
    min-height: calc(100vh - 70px - 64px);
    padding: 1.5rem 0;
}

.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.cart {
    position: fixed;
    top: 7rem;
    right: 4rem;
    padding: 0.8rem;

    border-radius: 55px;
    cursor: pointer;
    z-index: 3;
}

.cart-quantity {
    font-size: 16px;
}

.ico-close {
    position: relative;
    top: 0.7rem;
    right: 1.1rem;

    transform: scale(1.5);
    cursor: pointer;
}
.cart-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    background-color: rgb(199, 199, 199);
    width: 50rem;
    max-width: 95%;

    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);

    animation: show 500ms ease-in-out;
}

.cart-delete {
    cursor: pointer;
}

#toast-container {
    top: 3rem !important;
    animation: fade-in 250ms ease-in-out;
}

@keyframes show {
    from {
        top: 70%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}
